@mixin flex-center
    display: flex
    justify-content: center
    align-items: center

@mixin bg-size
    background-size: cover
    background-position: 10% 5%
    height: 100vh
    

@mixin bouton
    background-color: rgb(243, 40, 83)
    color: white
    padding: 20px
    padding-left: 55px
    padding-right: 55px
    border-radius: 5px
    border: none
    font-size: 25px
